<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico"/>
	<link rel="bookmark" href="favicon.ico"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>首页 | nickboyer</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/editormd.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></scr	ipt>
    <![endif]-->
  </head>
  <body>
	<div class="headband"></div>
	<div class="container padding0">
		<div class="col-md-3 padding10">
			<div class="header-inner">
				

				<div class="site-brand" style="height:112px;background-color: #222;">
					<div class="site-meta">
						<a>
							<span class="site-title">nickboyer</span>
						</a>
						<p class="site-subtitle">骑驴三十载，不知火烧是何味！</p>
					</div>
					<a id="site-nav-toggle" class="site-nav-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
				</div>
				<div id="site-nav-toggle-list" class="site-nav-toggle-list">
					<ul class="menu">
						<li class="menu-item">
						  <a href="/index" rel="section">
						  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
							首页
						  </a>
						</li>
						<li class="menu-item" >
						  <a href="/about" rel="section">
						  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						  关于</a>
						</li>
						<li class="menu-item" >
						  <a href="/tag" rel="section">
						  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
							标签
						  </a>
						</li>
						<li class="menu-item" >
						  <a href="/categories" rel="section">
						  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
							分类
						  </a>
						</li>
						<li class="menu-item menu-item-active" >
						  <a href="/archives" rel="section">
						  <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
							归档
							<span class="point"/>
						  </a>
						</li>
					</ul>
				</div>
			</div>
			<!--<div class="" style="height:250px;background-color: #bbb;"></div>-->
			<div class="header-inner paddingtb20 hidden-xs hidden-sm suspend" data-spy="affix" data-offset-top="360">
				<div class="header-inner">
					<img class="img-responsive center-block paddinglr60" src="http://39.106.24.47/static/8c5066ae3fc741b9a8da9cc603becd10.jpg"/>
					<p class="site-author-name">nickboyer</p>
					<p class="site-description">骑驴二十载，不知火烧是何味！</p>
				</div>
				<hr>
				<div class="site-state">
					<div class="col-xs-4 site-state-item header-inner">
					  <a href="/archives">
						<span class="site-state-item-count">183</span>
						<span class="site-state-item-name">日志</span>
					  </a>
					</div>
					<div class="col-xs-4 site-state-item header-inner">
					  <a href="/tags/detail.html">
						<span class="site-state-item-count">222</span>
						<span class="site-state-item-name">分类</span>
					  </a>
					</div>
					<div class="col-xs-4 site-state-item header-inner">
					  <a href="/tags/detail.html">
						<span class="site-state-item-count">111</span>
						<span class="site-state-item-name">标签</span>
					  </a>
					</div>
				</div>
				<div class="header-inner post-title a-label-color">
					<a><span class="glyphicon glyphicon-star paddingtb20 site-state-item-count" aria-hidden="true">Github</span></a>
				</div>
			</div>
		</div>
		<div class="col-md-9 padding10" style="background-color: #fff;">
			<div class="col-md-12">
				<div class="archives-content col-xs-12">
					<ul class="nickboyer-timeline col-xs-12">
						<li class="nickboyer-timeline-item col-xs-12">
							<div class="nickboyer-timeline-content col-xs-12">
							  <h3 class="nickboyer-timeline-title col-xs-12">2017-12</h3>
							  <ul>
								<li><a href="detail - redis.html">Redis</a></li>
								<li><a href="detail - redis.html">nginx 的安装</a></li>
								<li><a href="detail - redis.html">Linux RabbitMq安裝</a></li>
							  </ul>
							</div>
						 </li>
						 <li class="nickboyer-timeline-item col-xs-12">
							<div class="nickboyer-timeline-content col-xs-12">
							  <h3 class="nickboyer-timeline-title col-xs-12">2017-12</h3>
							  <ul>
								<li><a href="detail - redis.html">Redis</a></li>
								<li><a href="detail - redis.html">nginx 的安装</a></li>
								<li><a href="detail - redis.html">markdownpad 目录生成脚本</a></li>
							  </ul>
							</div>
						 </li>
						 <li class="nickboyer-timeline-item col-xs-12">
							<div class="nickboyer-timeline-content col-xs-12">
							  <h3 class="nickboyer-timeline-title col-xs-12">2017-12</h3>
							  <ul>
								<li><a href="detail - redis.html">Redis</a></li>
								<li><a href="detail - redis.html">nginx 的安装</a></li>
								<li><a href="detail - redis.html">Linux RabbitMq安裝</a></li>
							  </ul>
							</div>
						 </li>
						 <li class="nickboyer-timeline-item col-xs-12">
							<div class="nickboyer-timeline-content col-xs-12">
							  <h3 class="nickboyer-timeline-title col-xs-12">2017-12</h3>
							  <ul>
								<li><a href="detail - redis.html">Redis</a></li>
								<li><a href="detail - redis.html">nginx 的安装</a></li>
								<li><a href="detail - redis.html">Linux RabbitMq安裝</a></li>
							  </ul>
							</div>
						 </li>
						 <li class="nickboyer-timeline-item col-xs-12">
							<div class="nickboyer-timeline-content col-xs-12">
							  <h3 class="nickboyer-timeline-title col-xs-12">2017-12</h3>
							  <ul>
								<li><a href="detail - redis.html">Redis</a></li>
								<li><a href="detail - redis.html">nginx 的安装</a></li>
								<li><a href="detail - redis.html">Linux RabbitMq安裝</a></li>
							  </ul>
							</div>
						 </li>
						 <li class="nickboyer-timeline-item col-xs-12">
							<div class="nickboyer-timeline-content col-xs-12">
							  <h3 class="nickboyer-timeline-title col-xs-12">2017-12</h3>
							  <ul>
								<li><a href="detail - redis.html">Redis</a></li>
								<li><a href="detail - redis.html">nginx 的安装</a></li>
								<li><a href="detail - redis.html">Linux RabbitMq安裝</a></li>
							  </ul>
							</div>
						 </li>
						 <li class="nickboyer-timeline-item col-xs-12">
							<div class="nickboyer-timeline-content col-xs-12">
							  <h3 class="nickboyer-timeline-title col-xs-12">2017-12</h3>
							  <ul>
								<li><a href="detail - redis.html">Redis</a></li>
								<li><a href="detail - redis.html">nginx 的安装</a></li>
								<li><a href="detail - redis.html">Linux RabbitMq安裝</a></li>
							  </ul>
							</div>
						 </li>
						 <li class="nickboyer-timeline-item col-xs-12">
							<div class="nickboyer-timeline-content col-xs-12">
							  <h3 class="nickboyer-timeline-title col-xs-12">2017-12</h3>
							  <ul>
								<li><a href="detail - redis.html">Redis</a></li>
								<li><a href="detail - redis.html">nginx 的安装</a></li>
								<li><a href="detail - redis.html">Linux RabbitMq安裝</a></li>
							  </ul>
							</div>
						 </li>
						 <li class="nickboyer-timeline-item col-xs-12">
							<div class="nickboyer-timeline-content col-xs-12">
							  <h3 class="nickboyer-timeline-title col-xs-12">2017-12</h3>
							  <ul>
								<li><a href="detail - redis.html">Redis</a></li>
								<li><a href="detail - redis.html">nginx 的安装</a></li>
								<li><a href="detail - redis.html">Linux RabbitMq安裝</a></li>
							  </ul>
							</div>
						 </li>
						 <li class="nickboyer-timeline-item col-xs-12">
							<div class="nickboyer-timeline-content col-xs-12">
							  <h3 class="nickboyer-timeline-title col-xs-12">2017-12</h3>
							  <ul>
								<li><a href="detail - redis.html">Redis</a></li>
								<li><a href="detail - redis.html">nginx 的安装</a></li>
								<li><a href="detail - redis.html">Linux RabbitMq安裝</a></li>
							  </ul>
							</div>
						 </li>
						 <li class="nickboyer-timeline-item col-xs-12">
							<div class="nickboyer-timeline-content col-xs-12">
							  <h3 class="nickboyer-timeline-title col-xs-12">2017-12</h3>
							  <ul>
								<li><a href="detail - redis.html">Redis</a></li>
								<li><a href="detail - redis.html">nginx 的安装</a></li>
								<li><a href="detail - redis.html">Linux RabbitMq安裝</a></li>
							  </ul>
							</div>
						 </li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!--back-to-top-->
	<span id="top-link-block" class="hidden a-label-color-white">
		<a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
			<i class="glyphicon glyphicon-chevron-up"></i><span>100</span>%
		</a>
	</span>
	<!-- 导入公共footer -->
	<div th:replace="footer :: #common-footer"></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
  </body>
</html>