<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<link rel="shortcut icon" href="favicon.ico"/>
	<link rel="bookmark" href="favicon.ico"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title th:text="${blog.header}+' | nickboyer'"></title>
    <!-- Bootstrap -->
	<link href="css/editormd.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
	<link href="css/font-awesome.min.css" rel="stylesheet"/>
	<link href="css/main.min.css" rel="stylesheet"/>
	

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></scr	ipt>
    <![endif]-->
  </head>
 <body data-spy="scroll">
	<div class="headband"></div>
	<div class="container">
		<div class="row">
		<div class="modal fade" id="viever-img" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:95%;">
			<img class="img-fluid" style="max-width:100%;margin:auto;"/>
		  </div>
		</div>
		<div th:replace="common :: #common-search"></div>
		<div class="col-lg-3 padding-media paddinglr10">
				<div class="header-inner">
					<div class="site-brand" style="height:112px;background-color: #222;">
						<div class="site-meta">
							<a>
								<span class="site-title" th:text="${dicts.websiteName}">nickboyer's notes</span>
							</a>
							<p class="site-subtitle" th:text="${dicts.websiteAbout}">骑驴三十载，不知火烧是何味！</p>
						</div>
						<a id="site-nav-toggle" class="site-nav-toggle"><i class="fa fa-navicon" aria-hidden="true"></i></a>
					</div>
					<div id="site-nav-toggle-list" class="hidden-media">
						<ul class="menu">
							<li class="menu-item" >
							  <a href="index.html" rel="section">
							  <i class="fa fa-home fa-size" aria-hidden="true"></i>
								首页
							  </a>
							</li>
							<li class="menu-item" >
							  <a href="about.html" rel="section">
							  <i class="fa fa-user fa-size" aria-hidden="true"></i>
								关于
							  </a>
							</li>
							<li class="menu-item" >
							  <a href="/tag" rel="section">
							  <i class="fa fa-tag fa-size" aria-hidden="true"></i>
								标签
							  </a>
							</li>
							<li class="menu-item" >
							  <a href="/category" rel="section">
							  <i class="fa fa-tasks fa-size" aria-hidden="true"></i>
								分类
							  </a>
							</li>
							<li class="menu-item" >
							  <a href="/archive" rel="section">
							  <i class="fa fa-suitcase fa-size" aria-hidden="true"></i>
								归档
							  </a>
							</li>
							<li class="menu-item" >
							  <a rel="section" data-toggle="modal" data-target="#common-search">
							 <i class="fa fa-search fa-size" aria-hidden="true"></i>
								搜索
							  </a>
							</li>
						</ul>
					</div>
				</div>
			<div class="header-inner paddingtb20 suspend sps sps--abv hidden-media" data-sps-offset="405">
				<div class="sidebar-nav">
					<div class="row">
					<div class="col-6 sidebar-nav-toc">
						<li id="doc-toc-on-off" data-target="site-toc">文章目录</li>
					</div>
					<div class="col-6 sidebar-nav-overview">
						<li class="sidebar-nav-active" data-target="site-overview">站点概览</li>
					</div>
					</div>
				</div>
				<div class="sidebar-content">
					<div class="navbar site-pane site-toc" id="navbar-example">
						<nav class="navbar-nav" id="doc-toc">
						</nav>
					</div>
					<div class="site-pane site-overview sidebar-nav-active">
						<div th:replace="common :: #header-inner"></div>
						<hr/>
						<div th:replace="common :: #site-state"></div>
						<div th:replace="common :: #github"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9 padding-media" style="background-color: #fff;">
			<div class="col-lg-12">
				<h2 class="post-title">
					<a class="post-title-link" th:text="${blog.header}"></a>
				</h2>
				<div class="post-title post-blog-label a-label-color">
					<span class="glyphicon glyphicon-book" aria-hidden="true"></span><span class="post-blog-text" th:text="'发表于 ' + ${#dates.format(blog.createTime, 'yyyy-MM-dd')}"></span>
					<span class="post-blog-text">|</span>
					<span class="glyphicon glyphicon-file" aria-hidden="true"></span><span class="post-blog-text">分类于</span><a th:href="@{'/category?id='+${blog.categoryId}}" th:text="${blog.categoryName}">技术文档</a>
					<span class="post-blog-text">|</span>
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><span class="post-blog-text" th:text="'阅读数 '+${blog.watch}"></span>
				</div>
				<div class=" markdown-body editormd-preview-container" id="doc-content">
				</div>
				<div class="post-tags">
					<a th:each="tag,stat:${blog.tags}" th:href="@{'/tag?id='+${tag.id}}" rel="tag" th:text="'# '+${tag.name}"># nginx</a>
				</div>	
				<div class="post-blog-pn col-12">
					<div class="row">
						<div class="post-blog-prev col-6">
						  <a th:if="${blog.prev != null}" th:href="@{'/detail?id='+${blog.prev.id}}" rel="prev" th:title="${blog.prev.header}">
							<i class="fa fa-chevron-left post-blog-pn-icon" aria-hidden="true"></i><span th:text="${blog.prev.header}">linux安装</span>
						  </a>
						</div>
						<div class="post-blog-next col-6">
						  <a th:if="${blog.next != null}" th:href="@{'/detail?id='+${blog.next.id}}" rel="next" th:title="${blog.next.header}">
							<span th:text="${blog.next.header}">nginx安装</span><i class="fa fa-chevron-right post-blog-pn-icon" aria-hidden="true"></i>
						  </a>
						</div>
					</div>
				</div>
			</div>
			<div class="comments col-md-12"></div>
		</div>
		</div>
	</div>

	<!--back-to-top-->
	<div th:replace="common :: #top-link-block"></div>
	<!-- 导入公共footer -->
	<div th:replace="common :: #common-footer"></div>
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/scrollPosStyler.min.js"></script>
	<script src="js/main.min.js"></script>
	<script src="js/marked.min.js"></script>
	<script src="js/nickboyer.min.js"></script>
	<script src="js/canvas-nest.min.js"></script>
	<script typet="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script th:inline="javascript">
		//以下注释忽略js中关键字符
		/*<![CDATA[*/
	    $(function(){

	        /* 加载blog内容 */
	    	var text = [[${blog.contentStr}]];
			nickboyer.markdownToHtml("doc-toc","doc-content",text);
			
			$('#viever-img').on('shown.bs.modal', function (e) {  
	            // 关键代码，如没将modal设置为 block，则$modala_dialog.height() 为零  
	            $(this).css('display', 'block');  
	            var modalHeight=$(window).height() / 2 - $('#viever-img .modal-dialog').height() / 2;  
	            $(this).find('.modal-dialog').css({  
	                'margin-top': modalHeight  
	            });  
	        }); 
			
			/* 图片查看事件 */
			$(".markdown-body img").click(function(){
				$("#viever-img img").attr("src",$(this).attr("src"));
				$('#viever-img').modal();
				$('#viever-img').click(function(){
					$('#viever-img').modal('hide');
				});
				
			});

			/* 微信分享 */
            var url = location.href.split('#')[0];
            $.ajax({
                type : "get",
                url : "wechatParams",
                dataType : "json",
                async : false,
                data:{url:url},
                success : function(data) {
                    wx.config({
                        debug: false,////生产环境需要关闭debug模式
                        appId: data.appId,//appId通过微信服务号后台查看
                        timestamp: data.timestamp,//生成签名的时间戳
                        nonceStr: data.nonceStr,//生成签名的随机字符串
                        signature: data.signature,//签名
                        jsApiList: [//需要调用的JS接口列表
                            'checkJsApi',//判断当前客户端版本是否支持指定JS接口
                            'onMenuShareTimeline',//分享给好友
                            'onMenuShareAppMessage'//分享到朋友圈
                        ]
                    });
                },
                error: function(xhr, status, error) {
                    alert(status);
                }
            })
            wx.ready(function () {
                var link = window.location.href;
                var protocol = window.location.protocol;
                var host = window.location.host;
                //分享朋友圈
                wx.onMenuShareTimeline({
                    title: [[${blog.header}]],
                    link: link,
                    imgUrl: 'http://www.nickboyer.cn/static/blog/logo.jpg',// 自定义图标
                    trigger: function (res) {
                        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                        //alert('用户点击发送给朋友');
                    },
                    success: function (res) {
                        //alert('已分享');
                    },
                    cancel: function (res) {
                        //alert('已取消');
                    },
                    fail: function (res) {
                        alert(JSON.stringify(res));
                    }
                });
                //分享给好友
                wx.onMenuShareAppMessage({
                    title: [[${blog.header}]], // 分享标题
                    desc: [[${blog.introStr}]], // 分享描述
                    link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                    imgUrl: 'http://www.nickboyer.cn/static/blog/logo.jpg', // 自定义图标
                    type: 'link', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    trigger: function (res) {
                        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                        //alert('用户点击发送给朋友');
                    },
                    success: function (res) {
                        //alert('已分享');
                    },
                    cancel: function (res) {
                        //alert('已取消');
                    },
                    fail: function (res) {
                        //alert(JSON.stringify(res));
                    }
                });
                wx.error(function (res) {
                    alert(res.errMsg);
                });
            });
		});
   		/*]]>*/
	</script>

  </body>
</html>