<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<link rel="shortcut icon" href="favicon.ico"/>
	<link rel="bookmark" href="favicon.ico"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>标签 | nickboyer</title>
    <!-- Bootstrap -->
    <link href="css/editormd.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
	<link href="css/font-awesome.min.css" rel="stylesheet"/>
	<link href="css/main.min.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></scr	ipt>
    <![endif]-->
  </head>
  <body>
	<div class="headband"></div>
	<div class="container">
		<div class="row">
		<div th:replace="common :: #common-search"></div>
		<div class="col-lg-3 padding-media paddinglr10">
				<div class="header-inner">
					<div class="site-brand" style="height:112px;background-color: #222;">
						<div class="site-meta">
							<a>
								<span class="site-title" th:text="${dicts.websiteName}">nickboyer's notes</span>
							</a>
							<p class="site-subtitle" th:text="${dicts.websiteAbout}">骑驴三十载，不知火烧是何味！</p>
						</div>
						<a id="site-nav-toggle" class="site-nav-toggle"><i class="fa fa-navicon" aria-hidden="true"></i></a>
					</div>
					<div id="site-nav-toggle-list" class="hidden-media">
						<ul class="menu">
							<li class="menu-item" >
							  <a href="index.html" rel="section">
							  <i class="fa fa-home fa-size" aria-hidden="true"></i>
								首页
							  </a>
							</li>
							<li class="menu-item" >
							  <a href="about.html" rel="section">
							  <i class="fa fa-user fa-size" aria-hidden="true"></i>
								关于
							  </a>
							</li>
							<li class="menu-item" >
							  <a href="/tag" rel="section">
							  <i class="fa fa-tag fa-size" aria-hidden="true"></i>
								标签
							  </a>
							</li>
							<li class="menu-item" >
							  <a href="/category" rel="section">
							  <i class="fa fa-tasks fa-size" aria-hidden="true"></i>
								分类
							  </a>
							</li>
							<li class="menu-item" >
							  <a href="/archive" rel="section">
							  <i class="fa fa-suitcase fa-size" aria-hidden="true"></i>
								归档
							  </a>
							</li>
							<li class="menu-item" >
							  <a rel="section" data-toggle="modal" data-target="#common-search">
							 <i class="fa fa-search fa-size" aria-hidden="true"></i>
								搜索
							  </a>
							</li>
						</ul>
					</div>
				</div>
			<div class="header-inner paddingtb20 suspend sps sps--abv hidden-media" data-sps-offset="405">
				<div th:replace="common :: #header-inner"></div>
				<hr/>
				<div th:replace="common :: #site-state"></div>
				<div th:replace="common :: #github"></div>
			</div>
		</div>
		<div class="col-lg-9 padding-media" style="background-color: #fff;">
			<div class="col-md-12">
				<div class="category-title col-12">
					<h3><span th:text="${tag.name}">nginx</span><span class="undertone">标签</span></h3>
				</div>
				<div class="archives-content col-12">
					<ul class="nickboyer-timeline col-12">
						<li th:each="archive,stat:${tag.archives}" class="nickboyer-timeline-item col-12">
							<div class="nickboyer-timeline-content col-12">
								<h3 class="nickboyer-timeline-title col-12" th:text="${archive.time}">2013-12</h3>
								<ul class="col-12">
									<li th:each="blog,stat:${archive.list}"><a th:href="@{'/detail?id='+${blog.id}}" th:text="${blog.header}">Nginx安装</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>

	<!--back-to-top-->
	<div th:replace="common :: #top-link-block"></div>
	<!-- 导入公共footer -->
	<div th:replace="common :: #common-footer"></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/scrollPosStyler.min.js"></script>
	<script src="js/main.min.js"></script>
	<script src="js/canvas-nest.min.js"></script>
  </body>
</html>