<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<link rel="shortcut icon" href="favicon.ico"/>
	<link rel="bookmark" href="favicon.ico"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>归档 | nickboyer</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
	<link href="css/main.css" rel="stylesheet"/>
	<link href="css/editormd.min.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></scr	ipt>
    <![endif]-->
  </head>
  <body>
	<div class="headband"></div>
	<div class="container padding0">
		<div th:replace="common :: #common-search"></div>
		<div class="col-md-3 padding10">
				<div class="header-inner">
					<div class="site-brand" style="height:112px;background-color: #222;">
						<div class="site-meta">
							<a>
								<span class="site-title" th:text="${dicts.websiteName}"></span>
							</a>
							<p class="site-subtitle" th:text="${dicts.websiteAbout}"></p>
						</div>
						<a id="site-nav-toggle" class="site-nav-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
					</div>
					<div id="site-nav-toggle-list" class="site-nav-toggle-list">
						<ul class="menu">
							<li class="menu-item">
							  <a href="/" rel="section">
							  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
								首页
							  </a>
							</li>
							<li class="menu-item" >
							  <a href="/about" rel="section">
							  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								关于
							  </a>
							</li>
							<li class="menu-item" >
							  <a href="/tag" rel="section">
							  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
								标签
							  </a>
							</li>
							<li class="menu-item" >
							  <a href="/category" rel="section">
							  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
								分类
							  </a>
							</li>
							<li class="menu-item" >
							  <a href="/archive" rel="section">
							  <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
								归档
							  </a>
							</li>
							<li class="menu-item" >
							  <a rel="section" data-toggle="modal" data-target="#common-search">
							  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								搜索
							  </a>
							</li>
						</ul>
					</div>
				</div>
			<!--<div class="" style="height:250px;background-color: #bbb;"></div>-->
			<div class="header-inner paddingtb20 hidden-xs hidden-sm suspend" data-spy="affix" data-offset-top="405">
				<div th:replace="common :: #header-inner"></div>
				<hr/>
				<div th:replace="common :: #site-state"></div>
				<div th:replace="common :: #github"></div>
			</div>
		</div>
		<div class="col-md-9 col-xs-12 padding10" style="background-color: #fff;">
			<div class="col-md-12">
				<div class="category-title col-xs-12">
					<h3><span th:text="${tag.name}"></span><span class="undertone">标签</span></h3>
				</div>
				<div class="archives-content col-xs-12">
					<ul class="nickboyer-timeline col-xs-12">
						<li th:each="archive,stat:${tag.archives}" class="nickboyer-timeline-item col-xs-12">
							<div class="nickboyer-timeline-content col-xs-12">
							  <h3 class="nickboyer-timeline-title col-xs-12" th:text="${archive.time}"></h3>
							  <ul class="col-xs-12">
								<li th:each="blog,stat:${archive.list}"><a th:href="@{'/detail?id='+${blog.id}}" th:text="${blog.header}"></a></li>
							  </ul>
							</div>
						 </li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!--back-to-top-->
	<span id="top-link-block" class="hidden a-label-color-white">
		<a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
			<i class="glyphicon glyphicon-chevron-up"></i><span>100</span>%
		</a>
	</span>
	<!-- 导入公共footer -->
	<div th:replace="common :: #common-footer"></div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
  </body>
</html>