<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>新增</title>
	<link href="editormd.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="layui/css/layui.css">
	<style>
		.form-menu{
			cursor: pointer;
			font-size: 20px;
			color: #009688;
		}
	</style>
</head>
<body>
	<div class="layui-container">
		<blockquote class="layui-elem-quote" style="margin-top:40px;">新增</blockquote>
		<form class="layui-form layui-form-pane" action="">
			<div class="layui-form-item">
				<label class="layui-form-label">分类</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required">
						<option value=""></option>
						<option value="0">北京</option>
						<option value="1">上海</option>
						<option value="2">广州</option>
						<option value="3">深圳</option>
						<option value="4">杭州</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
					<input type="checkbox" name="like[write]" title="写作">
					<input type="checkbox" name="like[write]" title="写作">
					<input type="checkbox" name="like[write]" title="写作">
					<input type="checkbox" name="like[write]" title="写作">
					<input type="checkbox" name="like[write]" title="写作">
					<input type="checkbox" name="like[write]" title="写作">
					<input type="checkbox" name="like[write]" title="写作">
					<input type="checkbox" name="like[write]" title="写作">
					<input type="checkbox" name="like[write]" title="写作">
					<input type="checkbox" name="like[write]" title="写作">
					<input type="checkbox" name="like[write]" title="写作">
					<input type="checkbox" name="like[write]" title="写作">
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">
					<span style="padding:0 10px;"><i cus_type="intro" class="layui-icon form-menu face" title="插入表情">&#xe60c;</i></span>
					<span style="padding:0 10px;"><i cus_type="intro" class="layui-icon form-menu link" title="插入链接">&#xe64d;</i></span>
					<span style="padding:0 10px;"><i cus_type="intro" class="layui-icon form-menu code" title="插入代码">&#xe64e;</i></span>
					<span style="padding:0 10px;"><i cus_type="intro" class="layui-icon form-menu upload" title="插入图片">&#xe60d;</i></span>
					<span style="padding:0 10px;"><i cus_type="intro" class="layui-icon form-menu preview" title="预览">&#xe6b2;</i></span>
				</label>
				<div class="layui-input-block">
					<textarea name="intro" id="intro" placeholder="请输入简介" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">
					<span style="padding:0 10px;"><i cus_type="content" class="layui-icon form-menu face" title="插入表情">&#xe60c;</i></span>
					<span style="padding:0 10px;"><i cus_type="content" class="layui-icon form-menu link" title="插入链接">&#xe64d;</i></span>
					<span style="padding:0 10px;"><i cus_type="content" class="layui-icon form-menu code" title="插入代码">&#xe64e;</i></span>
					<span style="padding:0 10px;"><i cus_type="content" class="layui-icon form-menu upload" title="插入图片">&#xe60d;</i></span>
					<span style="padding:0 10px;"><i cus_type="content" class="layui-icon form-menu preview" title="预览">&#xe6b2;</i></span>
				</label>
				<div class="layui-input-block">
					<textarea name="content" id="content" placeholder="请输入正文" class="layui-textarea" rows="20"></textarea>
				</div>
			</div>
		</from>
	</div>

	<script src="layui/layui.js"></script>
	<script src="jquery.min.js"></script>
	<script src="marked.min.js"></script>
	<script src="nickboyer.js"></script>
	<script>
	layui.use(['layer', 'form', 'upload'], function(){
		var layer = layui.layer,form = layui.form,$=layui.jquery,upload = layui.upload;
		

		layui.focusInsert = function(obj, str){
			var result, val = obj.val();
			obj.focus();
			if(document.selection){ //ie
				result = document.selection.createRange();
				document.selection.empty();
				result.text = str;
			} else {
				obj.val(val + str);
			}
		};


		//插入表情


		//插入链接
		$(".link").click(function(){
			var obj = $(this);
			layer.open({
			  title: $(this).attr("title")
			  ,content: $("#link")
			  ,type:1
			  ,area: '465px'
			  ,btn:['确定']
			  ,btnAlign: 'c'
			  ,shadeClose:true
			  ,resize:false
			  ,scrollbar: false
			  ,btn1:function(index, layero){
				var type = obj.attr("cus_type");
				var result = $("#link_value").val();
				if(result != ""){
					layui.focusInsert($("#"+type),"["+result+"]("+result+")");
				}
				layer.close(index);
				$("#link_value").val("");
			  }
			});    
		});
		//插入代码
		$(".code").click(function(){
			var obj = $(this);
			layer.open({
			  title: $(this).attr("title")
			  ,content: $("#code")
			  ,type:1
			  ,area: '600px'
			  ,btn:['确定']
			  ,btnAlign: 'c'
			  ,shadeClose:true
			  ,resize:false
			  ,scrollbar: false
			  ,btn1:function(index, layero){
				var type = obj.attr("cus_type");
				var result = $("#code_value").val();
				if(result != ""){
					layui.focusInsert($("#"+type),"```\n"+result+"\n```");
				}
				layer.close(index);
				$("#code_value").val("");
			  }
			});    
		});

		//插入图片
		$(".upload").click(function(){
			var obj = $(this);
			layer.open({
			  title: $(this).attr("title")
			  ,content: $("#upload")
			  ,type:1
			  ,area: '465px'
			  ,btn:['确定']
			  ,btnAlign: 'c'
			  ,shadeClose:true
			  ,resize:false
			  ,scrollbar: false
			  ,btn1:function(index, layero){
				var type = obj.attr("cus_type");
				var result = $("#img_value").val();
				if(result != ""){
					layui.focusInsert($("#"+type),"!["+result+"]("+result+")");
				}
				layer.close(index);
				$("#img_value").val("");
			  }
			});     
  
		});
		var uploadInst = upload.render({
			elem: '#uploadBtn' //绑定元素
			,url: '/upload/' //上传接口
			,done: function(res){
			  //上传完毕回调
			}
			,error: function(){
			  //请求异常回调
			}
		});

		//预览
		$(".preview").click(function(){
			var obj = $(this);
			var type = obj.attr("cus_type");
			var content = $("#"+type).val();	
			var html = '<div class=" markdown-body editormd-preview-container" style="padding:0 50px;">'
			html = html + nickboyer.markdownToHtml('','',content);
			html = html + '</div>';
			layer.open({
				type: 1,
				content: html,
				area: ['100%', '100%']
			});
			
			
		});

	});
		
	
	</script> 
</body>

<div class="layui-row" id="link" style="display:none;">
	<form class="layui-form" action="">
		<div class="layui-form-item layui-form-pane" style="margin:20px;">
			<label class="layui-form-label">地址</label>
			<div class="layui-input-block">
				<input  id="link_value" required lay-verify="required" placeholder="可直接粘贴地址" autocomplete="off" class="layui-input">
			</div>
		</div>
	</form>
</div>
<div class="layui-row" id="code" style="display:none;">
	<form class="layui-form" action="">
		<div class="layui-form-item layui-form-text"  style="margin:10px 10px 0 10px;">
			<textarea id="code_value" required lay-verify="required" placeholder="请输入" class="layui-textarea" rows="10"></textarea>
		</div>
	</form>
</div>

<div class="layui-row" id="upload" style="display:none;">
	<form class="layui-form" action="">
		<div class="layui-form-item layui-form-pane" style="margin:20px;">
			<label class="layui-form-label">图片地址</label>
			<div class="layui-input-inline">
				<input id="img_value" required lay-verify="required" placeholder="可直接粘贴地址" autocomplete="off" class="layui-input">
			</div>
			<button type="button" class="layui-btn layui-btn-primary" id="uploadBtn">
				<i class="layui-icon">&#xe67c;</i>上传图片
			</button>
		</div>
	</form>
</div>

</html>
