html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
	font-size: 14px;
	margin: 0;  color: #555;
	background: #f5f7f9;
	line-height: 2;
	position: relative;
}
a:hover{
	text-decoration:none;
}
.headband {
  height: 3px;
  background: #222;
}
h2 {
	padding: 50px 0 0;
}

/* 菜单 */
.header-inner {
    padding: 0;
    background: #fff;
}
.site-meta {
    padding: 20px 0;
    color: #fff;
	text-align: center;
}
.site-author-name {
    margin: 0;
    text-align: center;
    color: #222;
    font-weight: 600;
	padding: 5px;
}
.site-description {
    margin-top: 0;
    text-align: center;
    font-size: 13px;
    color: #999;
	padding: 5px;
	margin: 0;
}
.site-title{
	line-height: 36px;
    font-size: 20px;
}
a {
	cursor: pointer;
}
.site-brand a {
    color: #fff;
    text-decoration: none;
    outline: none;
    word-wrap: break-word;
}
.site-brand a:hover{
	color:#fff;
	text-decoration:none;
}
.site-subtitle{
    margin: 10px 10px 0;
	font-size: 13px;
    color: #ababab;
}
/* 头像 */
.site-state {
    overflow: hidden;
    line-height: 1.4;
    white-space: nowrap;
    text-align: center;
}
.site-state a:hover {
	text-decoration:none;
}
.site-state-item {
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid #e2e1e1;
}
.site-state-item a{
	color: #3e3e3e;
}
.a-label-color a{
	color: #3e3e3e;
}
.a-label-color-white a{
	color: #fff;
}
.site-state-item-count {
    display: block;
    text-align: center;
    color: inherit;
    font-weight: 600;
    font-size: 16px;
}
.site-state-item-name {
    font-size: 13px;
    color: #999;
}

/* padding相关 */
.padding0 {
	padding: 0;
}
.paddinglr40{
	padding: 10px 40px;
}
.paddinglr60{
	padding: 10px 60px;
}
.paddingtb40{
	padding: 40px 0;
}
.paddingtb20{
	padding: 20px 0;
}
/* 自适应布局部分 */
@media (max-width: 992px) {
	.padding10 {
		padding: 0;
	}
	.site-nav-toggle-list {
		display: none; 
	}
	h2 {
		margin: 0px;
	}

}
@media (min-width: 992px) {
	.padding10 {
		padding: 0 10px;
	}
	.site-nav-toggle-list {
		display: block;
	}
	.site-nav-toggle {
		display: none;
	}
}

/* 标题样式 */
.post-title {
	text-align: center;
}
.post-title-link:hover{
	color: #555;
	text-decoration:none;
}
.post-title-link {
  display: inline-block;
  position: relative;
  color: #555;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;
}
.post-title-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.post-title-link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
/* 标题下的时间 */
.post-blog-label{
	color: #999;
	font-size: 12px;
    margin: 3px 0 60px 0;
}
.post-blog-text {
	padding: 0 4px;
}
/* 导航 */
.site-nav-toggle {
	left: 20px;
    top: 45px;
	position: absolute;
	font-size: 25px;
}

.menu {
    margin-top: 20px;
    padding: 0 0 10px 0;
    text-align: center;
	background: #fff;
}
.menu .menu-item a:hover{
	color:#fc6423;
}
.menu .menu-item-active a{
	background: #f5f7f9;
}
.menu a{
	
	padding: 10px 20px;
	
}
.menu .menu-item .glyphicon {
    margin-right: 8px;
}
.menu .menu-item {
    display: block;
    margin: 0;
	list-style: none;
}
.menu .menu-item a {
	color:#555;
	text-decoration:none;
    position: relative;
    box-sizing: border-box;
    padding: 8px 20px;
    text-align: left;
    line-height: inherit;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
	border-bottom: 1px solid transparent;
	display: block;
    font-size: 13px;
}
.menu .point {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #bbb;
}

/* 固定图片、目录 */
.affix.suspend{
    margin-top:-360px;
	width: 222.5px;
}

/* 返回顶部 */

#top-link-block.affix-top {
    position: absolute;
    bottom: -82px;
    right: 20px;
}
#top-link-block.affix {
	background: #555;
    position: fixed;
    bottom: 18px;
    right: 20px;
}
.glyphicon-chevron-up {
	padding: 5px 7px;
}
#top-link-block {
	font-size:12px;
    font-family: 'Roboto Slab', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}
#top-link-block span{
	padding:1px;
}
#top-link-block i{
	padding: 5px 1px 5px 5px;
}
#top-link-block a{
	padding: 0 5px 0 0;
}

/* 首页文章 */
pre {
	border: 0px solid #ccc; !importent;
}
/* 首页文章分割线 */
.post-eof {
    display: block;
    margin: 30px auto 30px;
    width: 8%;
    height: 1px;
    background: #ccc;
    text-align: center;
}
/* 阅读更多按钮 */
.post-button {
	padding: 20px 0;
}
.post-button a {
	border:2px solid #555;
	border-radius:0px;
}
.post-button a:hover {
	color: #fff;
	background: #555;
	text-decoration: none;
}
/* 翻页 */
.pagination li a{
	color: #3e3e3e;
	border:0px;
}
.pagination .active a{ 
	background: #555;
}
.pagination .active a:hover{ 
	background: #555;
}

/* copyright */
.copyright {
	padding-top: 40px;
}
.copyright p{
	font-size: 12px;
	font-weight: bold;
}
.copyright a{
	color: #555;
}
/* 文章内部上一个下一个 */
.post-blog-pn {
	border-top: 1px solid #e2e1e1;
	margin-top: 10px;
	padding: 5px 0px; 0;
}
.post-blog-pn a{
	color: #999;
	border:0px;
}
.post-blog-pn a:hover{
	color: #3e3e3e;
}
.post-blog-prev {
	text-align: left;
}
.post-blog-next {
	text-align: right;
}
.comments {
	margin: 60px 10px 0;
}
/* 文章底部的标签*/
.post-tags {
	text-align: center;
	margin: 30px 0 0;
}
.post-tags a {
	color: #999;
	margin: 5px 10px;
	padding: 5px 0;
	border-bottom: 1px solid #999;
}
.post-tags a:hover{
	color: #3e3e3e;
	border-bottom: 1px solid #3e3e3e;
}
/* 文章目录 */
.sidebar-nav,.sidebar-content li {
	list-style: none;
}
.sidebar-nav {
    padding: 10px 0 10px;
}
.sidebar-nav li{
	cursor: pointer;
}
.sidebar-nav li:hover{
	color: #fc6423;
}
.site-pane {
	display: none;
}
.sidebar-nav-toc {
	padding: 0 6px 0px 40px;
}
.sidebar-nav-toc li {
	text-align: center;
	border-bottom: 1px solid #ffffff;
}
.sidebar-nav-toc :hover {
	color: #fc6423;
}
.sidebar-nav-overview {
	padding: 0 40px 0px 6px;
}
.sidebar-nav-overview li {
	text-align: center;
	border-bottom: 1px solid #ffffff;
}
.sidebar-nav-overview li:hover {
	color: #fc6423;
}

li.sidebar-nav-active{
	border-bottom-color: #fc6423;
	color: #fc6423;
	display: block;
	animation: dot-flash;
}
div.sidebar-nav-active {
	
	display: block;
	color: #fff;
	animation: dot-flash 0.8s;
}

/* 目录 */
.site-toc ul {
	font-size: 13px;
	padding: 0px 0px 0px 20px;
}
.nav-tabs {
    border: 0;
}
.site-toc {
	margin-top: 50px;
}
.nav>li.active>a {
	border: 0;
	color: #fc6423;
	border-left: 2px solid #fc6423;
}
.nav li a{
	border-radius: 0px;
	cursor: pointer;
	border: 0;
	margin: 0;
	padding: 3px 0 3px 5px;
	color: #555;
	border-left: 2px solid #ffffff;
}
.nav li a:hover{
	border: 0;
	color: #fc6423;
	background: none;
	border-left: 2px solid #ffffff;

}
.nav li.active a:hover {
	cursor: pointer;
	border: 0;
	color: #fc6423;
	border-left: 2px solid #fc6423;
}





@-moz-keyframes dot-flash {
  from {
   opacity: 0;
  }
  to {
   opacity: 1;
  }
}
@-webkit-keyframes dot-flash {
  from {
   opacity: 0;
  }
  to {
   opacity: 1;
  }
}
@-o-keyframes dot-flash {
   from {
   opacity: 0;
  }
  to {
   opacity: 1;
  }
}
@keyframes dot-flash {
   from {
   opacity: 0;
  }
  to {
   opacity: 1;
  }
}
    

/*归档*/
@media (max-width: 992px) {
	.archives-content {
		padding: 40px 5px 40px 0px;
	}
}
@media (min-width: 992px) {
	.archives-content {
		padding: 40px 5px 40px 40px;
	}
}
.nickboyer-timeline-content ul {
	margin: 10px;
}
.nickboyer-timeline:before {
    content: "";
    position: absolute;
    left: 45px;
    top: 0;
    width: 2px;
    height: 100%;
	background:#e6e6e6;
}
.nickboyer-timeline-content {
	padding-left:25px;
}
.nickboyer-timeline>li{
	list-style:none;
	font-size: 14px;
	font-family: 'Roboto Slab', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.nickboyer-timeline-title:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -15px;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
	border: 2px solid #888;
}
.nickboyer-timeline-content:hover .nickboyer-timeline-title:before{
	background: #fc6423;
	border-color: #fc6423;
}

h3.nickboyer-timeline-title{
	margin: 0 0 10px 0;
    font-size: 18px;
	font-family: 'Roboto Slab', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.nickboyer-timeline-content li a {
	color: #999;
	border-bottom: 1px solid #999;
}
.nickboyer-timeline-content li:hover {
	list-style-type:disc;
	color:#fc6423;
}
.nickboyer-timeline-content li:hover a {
	color: #fc6423;
	border-bottom: 1px solid #fc6423;
}
.nickboyer-timeline-content ul {
	padding: 0 0 0 30px;
}
/* 标签 */
.tags-title h5{
	text-align: center;
	padding: 50px 0 20px 0;
}
.tags-content a{
    display: inline-block;
	text-align: center;
	color: #999;
	border-bottom: 1px solid #999;
	margin: 10px;
	font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}
.tags-content a:hover{
	color: #fc6423 !important;
	border-bottom: 1px solid #fc6423;
}
/* about */
.about-title h2{
	text-align:center;
}